
<ion-img src="assets/img/slide-2.png"></ion-img>
<ion-content>
  <form>

    <ion-item>
      <ion-label stacked>E-mail</ion-label>
      <ion-input [(ngModel)]="creds.email" name="email"   type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Senha</ion-label>
      <ion-input [(ngModel)]="creds.senha" name="senha"   type="password"></ion-input>
    </ion-item>
    <ion-button (click)="login()" expand="block">Acessar</ion-button>
    <ion-button [routerLink]="['/signup']" routerdirection="forward" expand="block" fill="outline">Registrar</ion-button>

  </form>

</ion-content>
